.skele{
    display: block;
  background: #d9d9d9;
  overflow: hidden;
  position: relative;
    height: 15px;
    width: 100%;
}

.skele::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #d9d9d9 0%, rgba(0,0,0,0.07) 20%, #d9d9d9 40%, #d9d9d9 100%);
    background-repeat: no-repeat;
    background-size: 450px 400px;
    animation: shimmer 1s linear infinite;
}



@keyframes shimmer {
    0%{
      background-position: -450px 0;
    }
    100%{
      background-position: 450px 0;
    }
  }

.pagination{
  position: sticky;
  bottom: 1px;
  width: 100%;
  background: white;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: end;
  .icons {
    display: flex;
    align-items: center;
    svg {
      display: inline-block;
      height: 27px;
      aspect-ratio: 1;
      cursor: pointer;
    }
    button {
      border: none;
      background: none;
    }
    button[disabled] svg{
      fill: #0000001f;
    }
  }
}

.note{
  font-size: 13px;
  font-style: italic;
  font-weight: bold;
}
.link{
  text-decoration: none;
  cursor: pointer;
}
.link:hover{
  color: white;
}