/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


@font-face {
    // Defining what the font will be called
    font-family: "MB";
    // Linking to the font file
    src: url(./assets/font/Montserrat-Bold.ttf);
  }

  @font-face {
    // Defining what the font will be called
    font-family: "MR";
    // Linking to the font file
    src: url(./assets/font/Montserrat-Regular.ttf);
  }

.highlighted-text{
    background-color: red;
}
*{
    font-family: "MR";
}

table{
    width: 100%;
    thead{
        background: #e4e4e4!important;
     
        tr{
            height: 56px;
            font-size: 14px;
            th{
                text-overflow: ellipsis;
                overflow: hidden;
                outline: none;
                text-align: left;
                font-family: "MB"!important;
                color: #434343;
                padding: 0 16px 0 16px;
            }
            td:first-child{
                background-color: red;
            }

            td:nth-child(1){
                span{
                    margin: 0 auto;
                }
            }
        }
    }
    tbody{
        tr{
            height: 56px;
            font-size: 14px;
            td{
                box-sizing: border-box;
                overflow: hidden;
                text-align: left;
                text-overflow: ellipsis;
                padding: 0 16px 0 16px;

            }
        }
    }
}

// .fav-center{
//     span{
//         margin: 0 auto;
//     }
// }
.svg-icon{
    cursor: pointer;
    height: 30px;
    aspect-ratio: 1;
    display: block;
}
.badge-primary{
    padding: 7px;
    font-size: 12px;
    font-weight: 500;
}